<div class="wrapper">
  <div class="dropdown">
    <button class="btn light dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown"
            aria-expanded="false">
      {{selectedCity ? selectedCity.name : 'Choose City'}}
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
      <li *ngFor="let city of cities">
        <button (click)="onChangeCity(city)" class="dropdown-item" type="button">{{city.name}}
        </button>
      </li>
    </ul>
  </div>
  <div (click)="update()" class="submit-button">
    <div class="update-container">
      <div type="button" class="update btn btn-light">
        <img class="star" src="assets/icons/star-64.png" alt="star">UPDATE
        <img class="star" src="assets/icons/star-64.png" alt="star"></div>
    </div>
  </div>
</div>
